@charset "UTF-8";






body {
     height: 100vh;
     background-color: #FFC700;
  
}


.content {
	width: 100%;
	height:100vh;
	position: absolute;
	
}
.col-box{
	box-shadow: 10px 10px 0px #000000; 
	border-radius:10px;
	border: 5px solid black; 
	box-shadow: 10px 10px 0px #000000; 
	
}
footer {
	color: black;
	height: 30px;
	background-color: #FFE58A;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
}


/*start page*/
.tag {
	font-family: "Do Hyeon";
}

.title {
	font-size: 6em;
	font-weight: 500;
	letter-spacing: 0.05rem;
	color: black;
	font-family: "Black Han Sans";
}


.btnContainer {
	width: 400px;
}

.startButton {
	margin:auto;
	width: 100%;
	font-family: "Black Han Sans";
	background: #FFC700;
	border: 5px solid #000000;
	color: white;
	letter-spacing: 2px;
	box-shadow: 10px 10px 0px #000000;
	border-radius:10px;
}
.startButton:hover{
	background:#FFE58A;
	
}

/*question page*/
#progressbar {
	width: 100%;
	height: 10px;
}

.progress-label {
	font-weight: bold;
	margin-top: 20px;	
	padding-top: 10px;

}

#quiz-button {
	font-family: "Do Hyeon";
	margin-top:100px;
}

#Button {
	width: 100%;
	height: 87px;
	display: block;
	background: #FFC700;
	border: 3px solid #000000;
	box-shadow: 10px 10px 0px #000000;
	border-radius:10px;
	color:black;
	margin-top:20px;
}
#Button:hover{
	background:#FFE58A;
	
}


.quiz-question {
	font-size: 1.5rem;
	font-weight: bold;
	font-family: "Do Hyeon";
}
/*result page*/
.btntext1 {
	font-size: 2rem;
	color: black;
}

.wholeBox {
	border: 4px solid black;
	margin-top: 50px;
	box-shadow: 10px 10px 0px #000000;
}

.box1 {
	height: 200px;
	background-color: #FFC700;
	position: relative;
	border-radius: 10px;
}

.box2 {
	height: auto;
	border-top: 4px solid black;
}


.box4 {
	height: auto;
}

.result-img {
	width: 300px;
	
}

.resultName {
	

	font-family: "Black Han Sans";
	font-size: 1.2em;
	font-weight: bold;
	line-height: 2.5em;

}

#resultNick {
	font-size: 3em;
}

.resultDesc {
	font-size: 1.5em;
	font-family: "Do Hyeon";
}

#MBTI {
	font-weight: bold;
	font-size: 1.5em;
}

/*
노트 구멍 이미지 넣었다가 뺌 
#notehole1, #notehole2 {
	width: 90%;
	margin-top: -50px;	
}
*/
.feature, .weakness {
	text-align: left;
	font-family: "Do Hyeon";
}

.featureText {
	margin: 20px 0 20px 20px;
	font-size: 1.7em;
}

.feature li, .weakness li {
	line-height: 2em;
}

.weaknessText {
	margin: 20px 0 20px 20px;
	font-size: 1.7em;
}

.smtitle {
	width: 50%;
	margin: 5px 25% 20px 25%;
	font-size: 1.7em;
	font-weight: bold;
	padding: 5px;
	border: 3px solid black;
	top: 5px;
	box-shadow: 4px 4px 0 black;
	border-radius: 10px;
	
}

.method {
	background-color: rgba(255, 255, 0, 1);
	
}

.box4 ul {
	text-align: left;
}

.mbtiPartner, .studyPlace {
	font-weight: bold;
	font-size: 1.7em;
	margin-top: -10px;
	padding-bottom: 10px;
}

.study {
	background-color: rgba(0, 255, 0, 1);
}

.place {
	background-color: #FF333F;
}

.two_btn {
	font-family: "Do Hyeon";
	color: white;
}
.re_btn {
	background-color:white;
	color:black;
	padding: 7px;
}
.re_btn:hover{
	background:#FFE58A;	
}
.sv_btn {
	margin-top: 20px;
	background-color:white;
	color:black;
	padding: 7px;
}
.sv_btn:hover{
	background:#FFE58A;	
}
.cmt_btn {
	margin-top: 20px;
	background-color:white;
	color:black;
	padding: 7px;
}
.cmt_btn:hover{
	background:#FFE58A;	
}
.shareBtn {
	margin-top: 40px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.shareBtn img:first-child {
	width: 40px;
	height: 40px;
}

.shareBtn img:nth-child(2) {
	margin-top: 5px;
	width: 30px;
	height: 30px;
}

.wholeBox{
	border-radius: 10px;
}

.top {
	width:100%;
	border: 5px solid black;
	border-radius: 10px;	
	box-shadow: 10px 10px 0px #000000;
	background-color: #FFC700;
}

.loadingEx {
	font-size: 1.7em;
	font-family: "Do Hyeon";
}
.comment-add {
	margin-bottom: 20px;
	background: #FFC700;
	border: 5px solid #000000;
	box-sizing: border-box;
	box-shadow: 10px 10px 0px #000000;
	border-radius: 10px;
}


@media screen and (max-width: 1024px) {
 		#sideCol {
    display:none !important;
	}
	
	#mainCont {
		position: relative !important;
		margin-right: 2rem !important;
	}
}

