@charset "UTF-8";

:root{
	--main-color: #4D5EB3;  /*dark blue*/
	--sub-color: #FFD44A;  /*yellow*/
	--grey-color: #959595;
}

body{
	 background-image: url("../img/teamA/background.png");
	 background-size: cover;
     height: 100vh;
}

.content{
	height: 100vh;
}


footer {
  color: white;
  height: 30px;
  background-color: var(--main-color);
  width: 100%;
  position: absolute;
  bottom: 0;
  left:0;
}