@charset "UTF-8";

        body{
            min-width: 320px;
            max-width: 400px;
            margin: 0 auto;
        }

        /* 상단 로고 */
        .topbar-logo {
            display: flex;
            align-items: center;
            width: 100%;
            height: 45px;
            padding: 0 20px;
        }
        
        .middle-logo {
            display: flex;
            align-items: center;
            width: 100%;
            height: 27px;
            padding: 0 20px;
        }
        
        .low-logo {
        	 display: flex;
            align-items: center;
            width: 100%;
            height: 45px;
            padding: 0 20px;
        }
        /* 제목 */
        .title {
            display: block;
            text-align: center;
        }

        .subtitle {
            text-align: center;
        }

        /* 버튼 */
        button {
            cursor: pointer;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .btn-normal {
            width: 80%; height: 60px;
            font-size: 18px; color: #fff;
            background-color: #000;
            display: block;
            margin: 0 auto;
        }

        /* 인트로 화면 */
        .intro h1 {
            font-size: 30px;
            margin: 24px 0px 8px;
        }

        .thinker {
            margin:35px auto;
        }

        /* 정렬 */

        .text-a {
            text-align: center;
        }
        
        .thinker {
        	display: block;
        	margin: 24px auto;
        	width: 90%;
        	height: 400px;
        }
        


	/* who page */
	.rope {
		width: 100%;
		height: 200px;
	}
	
	.who_bigbox {
		position: relative;
		top:-45px;
		margin: 0 auto;
		border: 1px solid black;
		cursor: pointer;
	}
	
	.who_first_box {
		padding:40px 0 40px 0;
		display: flex;
		padding: auto;
	}
	
	.who_second_box {
		padding: 40px 0 40px 0;
		display: flex;
		padding: auto;
	}
	
	.who_box {
		flex: 1;
		font-size: 48px;
		margin: auto;
		text-align: center;
	}
	




    
	/* 질문 내용 */
	
	.box {
    	margin: 0px 0px 60px;	
    	position:relative;
    }
    
    .text-b {
    	width: 270px;
    	top: 54%;
    	left: 17%;
    	position: absolute;
        font-size: 18px;
		-webkit-transform:rotate(9deg);        
    }
    
    

    button {
        cursor: pointer;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius:8px;
    }

    .btn-question-1 {
        width: 100%; height: 60px;
        color: #fff;
        border:1px solid black;
        background-color: #000;
    }
    
    .btn-question-2 {
        width: 100%; height: 60px;
        color: #fff;
        border:1px solid black;
        margin: 0px 0px 40px;
        background-color: #000;
    }
    
    .number {
       text-align: left;
       border-radius: 14px;
	padding: 0px 12px;
  	text-align: center;
  font-size: 14px;
  line-height: 26px;
  background-color: #fff;
  border: 1px solid black;
  color: #848484;
  	
    }
    
    
    
    
    
   

        .text-d {
            text-align: center;
        }

        .mbti h1 {
            font-size: 30px;
            margin: 24px 0px 8px;
        }

        .topbar-logo {
            display: flex;
            align-items: center;
            width: 100%;
            height: 54px;
            padding: 0 20px;
        }

        button {
            cursor: pointer;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .btn-result {
        	
            width: 100%; height: 60px;
            color: #000;
            background-color: #fff;
            border:2px solid black;
        }
        
        .text-c {
    	top: 45%;
    	left: 35%;
    	position: absolute;
        text-align: center;
        font-size: 16px;
		-webkit-transform:rotate(9deg);        
    }
        
         
    
    	.main-animal {
    	top: 70%;
    	left: 45%;
    	position: absolute;
    	width: 35px;
    	height: 30px;
    	}
    	
    	.animals {
    	width: 35px;
    	height: 30px;
    	}
    
    .outer {
    	border: 2px solid black;
    	margin-bottom: 40px;
    	background-color: #000;
    }
    
    .resultContent {
    	border: 2px solid black;	
    	margin: 20px;
    	background-color: white;
    }
    
    
    
    .goodRelation {
    	text-align: center;
    	width: 192px;
    	display: inline-block;		
    	margin-bottom: 40px;
    	color: #78EFAD;
    }
    
    .badRelation {
    	text-align: center;
    	width: 192px;
    	display: inline-block;	
    	margin-bottom: 40px;
    	color: #FFB6C1;
    }
    
    .share {
    	background-color: black;
    	color: white;
    	border-radius: 14px;
    	border: 1px solid black;
  		margin-bottom: 30px;
  		margin-left: 40%;
  		margin-top: 10px;
    }
    
    .kakao {
    	margin-left: 45%;
    	width: 40px;
    	height: 40px;
    	boarder-radius: 30px;
    }
    
    .comments {
    	width: 90%;		
    	margin-left: 7%;
    	margin-bottom: 40px;
    }
    
    .texts {
    	display: inline-block;
    }
    
    .btn-comments {
    	display: inline-block;
    	width: 40px;
    	background-color: black;
    	color: white;
    	margin-bottom: 50px;
    }
    .setup-wrap {
    	text-align:center;margin-top:100px;
    }
    .setup-wrap a{display:inline-block;width:46px;margin:0 15px;}
    .setup-wrap a img{width:100%;}
    .setup-wrap p{text-align:center;margin-bottom:15px;font-size:20px;font-weight:bold;}
    
    /* 로딩 */
	.loading-tests {
		width: 400px;
		height: 270px;
		margin-top:130px;
	}    
	
	.text-l {
    	width: 270px;
    	top: 60%;
    	left: 45%;
    	position: absolute;
        font-size: 18px;
		-webkit-transform:rotate(9deg);        
    }
    
    
    