@charset "utf-8";

@font-face {
    font-family: 'OTWelcomeRA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* reset */
body,h1,h2,h3,h4,h5,h6,ul,li,ol,div,p,span{margin:0;padding:0;font-family: 'OTWelcomeRA';}
body{min-height:100%; background: #ededed; text-align: center; justify-content: center;}
a{color:#3d3d3d;text-decoration:none;}
em{font-style:normal;}
button, fieldset, p, div, ul, li{margin:0;padding:0;border:0;list-style:none;}
button:disabled{background:inherit;color:inherit;border:0;cursor:pointer;}
a:hover, a:focus{text-decoration:none;color:inherit;}
img{vertical-align:top;}

/* intro */
.intro-wrap {max-width:600px;min-height:900px; position:relative; margin:0 auto; background:#ededed;}
.top-wrap .footer-wrap {position:absolute;bottom:0;left:0;right:0;width:100%;}
.intro-wrap .top-wrap .startbnt {width:180px; height:180px; cursor:pointer;}
.intro-mainImg {max-width:300px; width:100%; height:auto;}
.blink {animation: blink 0.5s infinite; font-size: 1.5rem;}
@keyframes blink {to {opacity: 0;}}

/* question */
.qBox-wrap{max-width:600px;min-height:900px;margin:0 auto;background:#ededed;}
.qBox-wrap .qBox .q-count{padding-top:100px; padding-bottom:30px;text-align:center;}
.qBox-wrap .qBox .q-count strong{color: black; font-weight:bold; font-size:20px;}
.qBox-wrap .qBox .q-count span{color: grey; font-weight:300;font-size:20px;}
.qBox-wrap .qBox .question {padding-top:100px;box-shadow: inset 0 -11px 0 #FFD336;line-height: 21px;}
.qBox-wrap .qBox .title img{width:95px;}
.qBox-wrap .qBox .percentage{padding-top:26px;text-align:center;}
.qBox-wrap .qBox .percentage .progress-wrap{position:relative;width:203px;height:6px;margin:0 auto;background:#fff;}
.qBox-wrap .qBox .percentage .progress-wrap .progress-bar{display:inline-block;position:absolute;top:0;left:0;height:6px;background:#fad349;}
.qBox-wrap .qBox .percentage .progress-wrap .bar-text{display:inline-block;width:146px;height:32px;margin-top:15px;padding-top:15px;font-size:8px;font-weight:500;background-size:100%;}
.qBox-wrap .qBox .option-btn-div{position: relative;display: flex;flex-direction: column;justify-content: center;align-items: center;}
.qBox-wrap .qBox .option-btn-div .option-btn{height: 8em;width: 325px;margin: 20px 0;background: #CBCBCB;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);border-radius: 21px;border: none;}
.qBox-wrap .question{text-align:center;height:72px;margin-top:60px;line-height:36px;font-size:25px;padding:0 10px;font-weight:bold;}
.qBox-wrap .loading{position:relative;width:305px;height:305px;margin:80px auto 0;}
@-webkit-keyframes spin{
	100%{
		-webkit-transform:rotate(-360deg);
		-moz-transform:rotate(-360deg);
		-ms-transform:rotate(-360deg);
		transform:rotate(-360deg);
	}
}
@keyframes spin{
	100%{
		-webkit-transform:rotate(-360deg);
		-moz-transform:rotate(-360deg);
		-ms-transform:rotate(-360deg);
		transform:rotate(-360deg);
	}
}

/* loading */
.img-bar{position:absolute;top:-45px;left:50%;width:390px;margin-left:-195px;-webkit-animation:spin 2s infinite linear;-moz-animation:spin 2s infinite linear;-ms-animation:spin 2s infinite linear;animation:spin 2s infinite linear;}
.img-gif{width:250px;position:absolute;top:15px;left:50%;margin-left:-120px;}
.img-txt{text-align:center;margin-top:60px;}
.img-txt img{display:inline-block;width:100px;}
.loading-wrap{max-width:600px;min-height:900px;margin:0 auto;box-sizing:border-box; background:#ffffff;}
.loading-imo {max-width:70px; width:100%; height:auto; padding-top:330px;} 
ul#loadbar {list-style:none; width:140px; margin:0 auto; padding-top:10px; padding-bottom:100px; vertical-align:middle;}
ul#loadbar li {float:left; position:relative; width:11px; height:26px; margin-left:1px; border-left:1px solid #E5E5E5; border-top:1px solid #E5E5E5; border-right:1px solid #E5E5E5; border-bottom:1px solid #E5E5E5; background:#E5E5E5; }
ul#loadbar li:first-child {margin-left:0;}
.ins, .bar {background-color:#ffdc3d; width:11px;height:26px;opacity:0;animation:fill .5s linear forwards;}
#layerFill1 { animation-delay:0.5s;}
#layerFill2 { animation-delay:1s; }
#layerFill3 { animation-delay:1.5s; }
#layerFill4 { animation-delay:2s; }
#layerFill5 { animation-delay:2.5s; }
#layerFill6 { animation-delay:3s; }
#layerFill7 { animation-delay:3.5s; }
#layerFill8 { animation-delay:4s; }
#layerFill9 { animation-delay:4.5s; }
#layerFill10 { animation-delay:5s; }
@keyframes fill {0%{ opacity:0; }100%{ opacity:1; }}

/* result */
.result-wrap{max-width:600px;min-height:900px;margin:0 auto;background:#ededed;}
.result-wrap .img-result{max-width:100%;width:100%;margin:auto 0;}
.result-wrap .img-result img{width:100%;}
.share-wrap{text-align:center;margin-top:28px;}
.share-wrap p{text-align:center;margin-bottom:15px;font-size:20px;font-weight:bold;}
.share-wrap a{display:inline-block;width:46px;margin:0 15px;}
.share-wrap a img{width:100%;}
.restarticon{margin-top:70px;margin-bottom:70px;text-align:center;}
.restarticon button {width:100px;background-color: #f8585b;border: none;color:#fff;padding: 15px 0;text-align: center;text-decoration: none;display: inline-block;font-size: 15px;margin: 4px;cursor: pointer;}
.restarticon button:hover{background-color: blue;}
.other_test_list{background-color: C4C4C4; border-radius: 35px;}

/* result comment */
.btn-fink {color: #000;background-color: #FF9E9E;border-color: #FF9E9E;}
.comments {max-width:500px;min-height:400px;position: relative;margin:0 auto; background:#ededed;padding: 10px;border: 2px solid #ffc107;border-radius: 17px;}
label {display: flex;}


/* intro footer */
.footer-wrap{margin-top:180px; height:100%;background:#c9c9c9;}
.footer-wrap .wrap{padding:12px 30px 20px 30px;}
.footer-hgulogo{margin-top:30px; text-align:left;}
.footer-hgulogo a{display:inline-block;}
.footer-hgulogo img{width:111px;}
.footer-copy{margin-top:8px;font-size:10px;color:#090e0a;margin-left:10px;text-align:left;}
.imgreference ul{text-align:right;}
.imgreference ul li{position:relative;display:inline-block;}
.imgreference ul li:before{display:inline-block;content:'|';font-size:11px;color:#444444;vertical-align:middle;}
.imgreference ul li:first-child:before{display:none;}
.imgreference ul li a{padding:5px 7px;font-size:11px;color:#444444;vertical-align:middle;}

/* question result footer */
.footer{position: fixed; left: 0;bottom: 0;width: 100%; height:50px;background-color: #c9c9c9;}
.footer p{padding:17px 5px 5px 5px;font-size:15px;text-align:middle;}

@media screen and (min-width:600px){
	body{background:#ccc;}
	.intro-wrap{min-height:960px;}
	.result-wrap{min-height:960px;}
	.comments-wrap{min-height:960px;}
}