@charset "UTF-8";

/* index */

body{
	min-height: 100vh;
}

.main-header{
	padding-top: 3rem !important;
	padding-bottom: 10rem !important;
	position:relative;
 
}

.navbar{
	z-index:999;
}

.main-header::before {    
      content: "";
     background-image: url("../img/teamProject/main_background.png");
     	
	 background-position: center; /* Center the image */
	  background-repeat: no-repeat; /* Do not repeat the image */
	  background-size: 850px!important;
      position: fixed;
      top: 0px;
      right: 0px;
      bottom: 260px;
      left: 0px;
      opacity: 0.2;
}

    .strike {
    	font-size: 2rem;
        display: block;
        text-align: center;
        overflow: hidden;
        white-space: nowrap; 
    }

    .strike > span {
        position: relative;
        display: inline-block;
    }
	
    .strike > span:before,
    .strike > span:after {
        content: "";
        position: absolute;
        top: 50%;
        width: 9999px;
        height: 1px;
        background: var(--bs-body-color);
    }

    .strike > span:before {
        right: 100%;
        margin-right: 15px;
    }

    .strike > span:after {
        left: 100%;
        margin-left: 15px;
    }
    
    .main-content{
    	position: absolute;
    	top: 30vh;
    	left: 5vw;
    	right: 5vw;
    	min-height: 100vh;
    }
    
.main-footer {
    clear: both;
    position: fixed;
    bottom: 0;
    /* left: 0; */
   /*  margin-top: 110vh; */
    width: 100%;
}
    
    .recommend a{
    	text-decoration: none;
    	color: black;
    }
    
    
    
    
    /* myPage */
    .mypage{
    	margin-right: 2rem!important;
    }
    
    .myPage-header{
    	padding-top: 3rem !important;
	padding-bottom: 10rem !important;
	position:relative;
    }
    
    .myPage-header::before {    
      content: "";
     background-image: url("../img/teamProject/main_background.png");
     	
	 background-position: center; /* Center the image */
	  background-repeat: no-repeat; /* Do not repeat the image */
	  background-size: 500px!important;
      position: fixed;
      top: 0px;
      right: 0px;
      bottom: 450px;
      left: 0px;
      opacity: 0.2;
}
    
   .my-content {
    position: absolute;
    top: 10vh;
    left: 5vw;
    right: 5vw;
    min-height: 100vh;
} 

.form-signin {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: auto;
    font-size: 1.2em;
}

.mypage-label{
	line-height: 2.5;
	display: inline-block;
	font-weight: 700;
}

/*Register page*/

.form-select:focus {
    border-color: grey;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(66 70 73 / 50%);
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: grey;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(66 70 73 / 50%);
}

input:-internal-autofill-selected {
    background-color: white !important;
}


.registration {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-select{
	padding-top: 0.4rem!important;
	font-size: 1em !important;
}
 
/*Login page*/

.login {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-login {
    width: 100%;
    max-width: 350px;
    padding: 15px;
    margin: auto;
    font-size: 1.2em;
}

.center-block > a {
    border-color: #e6e6e6;
    color: #222222;
    -webkit-display: flex;
    display: -ms-flex;
    display: flex;
    height: 3.75rem;
    border-radius: 10px;
    margin-bottom: 0.7rem;
}

.login-btn {
    display: inline-block;
    font-weight: normal;
    white-space: nowrap;
    text-align: center;
    user-select: none;
    text-decoration: none;
    outline: 0;
    vertical-align: middle;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    color: #222;
    background-color: #fff;
    position: relative;
    font-weight: 500;
    font-size: 1.2rem;
}
    
.login-btn .button-icon {
    position: absolute;
    left: 0.8125rem;
    top: 50%;
    transform: translateY(-50%);
}

.login-form a{
	text-decoration: none;
	color: black;
}


